@(patronForm: Form[models.Patron], book: models.Patron, actionRoute: play.api.mvc.Call)

@import helper._

@helper.form(action = actionRoute, 'method -> "POST")  {
    @inputText(
        patronForm("name"),
        '_label -> "Name"
    )

    @select(
        patronForm("library.id"),
        options = Library.selectCollection.toSeq,
        '_default -> "Choose One", '_label -> "Library"
    )
    <div class='actions'>
        <input type='submit' class='button' formmethod='post' value='Save' />
    </div>
}
