@(library: models.Library, loanedBooks: List[models.Book], availablebooks: List[models.Book])

@base("Check In / Check Out", "transactions") {
  <div class="pull-right" style="margin-top:28px; font-style: oblique;">Library Book Management</div>
  <h2>@library.name</h2>

  <h4>Loaned Books</h4>
  @for(book <- loanedBooks) {
    @defining(book.transactions.get(book.transactions.size()-1)) { transaction =>
      
      <form action="@routes.Transactions.saveCheckin(transaction.getId)" method="post">
      <div>
        <p><input type="submit" value="Check In" style="margin-right:15px"> <strong>@transaction.book.getName</strong> - Checked out by <em>@transaction.patron.getName</em></p>
      </div>
      </form>
    }
  }

  <h4>Available Books</h4>
  @for(book <- availablebooks) {
    <div>
      <p>@book.name</p>
    </div>
  }

}
